:root{
  --primary : rgb(25, 25, 172);
  --secondary : rgb(99, 162, 233);

}

.App.container {
  text-align: center;
}

.App.header {
  border-bottom: 1px solid black;
  background-color: var(--primary);
  padding: 10px;
}

.App.app-body {
  padding: 10px 25%;
}
